<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - Accommodation">Accommodation</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/chatbot.css}">
</head>

<body>

<div th:replace="~{layouts/header :: header}"></div>

<div layout:fragment="content"></div>

<div th:replace="~{layouts/chatbot :: chatbot}"></div>
<div th:replace="~{layouts/footer :: footer}"></div>

<script th:src="@{/js/chatbot.js}"></script>
</body>
</html>
