<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1>예약 상태 확인</h1>




    <table th:object="${accom}">
        <tr>
            <th>이름</th>
            <th>번호</th>
            <th>이메일</th>
            <th>주소</th>
            <th>상품명</th>
            <th>가격</th>
            <th>등급</th>
            <th>별점</th>
            <th>입실시간</th>
            <th>퇴실시간</th>
            <th>예약일</th>
        </tr>
        <tr>
            <td th:text="${member.getName()}"></td>
            <td th:text="${member.getAddress()}"></td>
            <td th:text="${member.getEmail()}"></td>
            <td th:text="${member.getAddress()}"></td>
            <td th:text="*{getAccomNm()}"></td>
            <td th:text="*{getPrice()}"></td>
            <td th:text="*{getStars()}"></td>
            <td th:text="*{getStarRating()}"></td>
            <td th:text="*{getCheck_In()}"></td>
            <td th:text="*{getCheck_Out()}"></td>
            <td th:text="*{getReserveDay()}"></td>
        </tr>
    </table>

</body>
</html>