<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <title>회원가입 테스트</title>
</head>
<body>

<div th:replace="layouts/header :: header"></div>

<h2>회원가입 페이지</h2>

<!-- 서버에서 전달한 에러 메시지 출력 -->
<div th:if="${errorMessage}" style="color:red;">
    <p th:text="${errorMessage}"></p>
</div>

<form th:action="@{/members/new}" th:object="${memberFormDto}" method="post">
    <div>
        <label>이름</label>
        <input type="text" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></p>
    </div>
    <br>

    <div>
        <label>이메일</label>
        <input type="email" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></p>
    </div>
    <br>

    <div>
        <label>비밀번호</label>
        <input type="password" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></p>
    </div>
    <br>

    <div>
        <label>휴대폰 번호</label>
        <input type="text" th:field="*{number}">
        <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}" style="color:red;"></p>
    </div>
    <br>

    <div>
        <label>주소</label>
        <input type="text" th:field="*{address}">
        <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red;"></p>
    </div>
    <br>

    <div th:if="${successMessage}" style="color:blue;">
        <p th:text="${successMessage}"></p>
    </div>

    <button type="submit">회원가입</button>
</form>

<div th:replace="layouts/footer :: footer"></div>

</body>
</html>