.header{
    background:#d64545;
    color:white;
}

.header-container{
    max-width:1200px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 20px;
}

.logo{
    display:flex;
    align-items:center;
    font-size:22px;
    font-weight:bold;
}

.logo img{
    width:35px;
    margin-right:10px;
}

.nav a{
    margin:0 15px;
    text-decoration:none;
    color:white;
    font-weight:500;
}

.login a{
    color:white;
    text-decoration:none;
}