header{
    width:100%;
    border-bottom:1px solid #eee;
    background:white;
}

.header-container{

    max-width:1200px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 10px;
}

.logo a{

    font-size:28px;

    font-weight:bold;

    color:#5b2bbf;

    text-decoration:none;
}

.nav-menu{

    display:flex;

    gap:25px;

    align-items:center;
}

.nav-menu a{

    text-decoration:none;

    color:#333;

    font-size:15px;
}

.nav-menu a:hover{

    color:#5b2bbf;
}