<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게스트하우스</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/type-list.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<div th:replace="~{category/type-list-fragment :: content}"></div>
<div th:replace="~{layouts/footer :: footer}"></div>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/type-filter.js}"></script>
<script th:src="@{/js/category-booking.js}"></script>
</body>
</html>
